* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("/static/login/img/bg-01.png");
    backdrop-filter: blur(3px);
    background-repeat: no-repeat;
    background-size:cover;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    color: rgb(31, 42, 49);
    background-color: rgba(255, 255, 255, 0.945);
}

.container:hover {
    box-shadow: 0 0 20px rgba(0, 90, 146, 0.808);
    animation: pulse 4s infinite;
    /* Aplica a animação de pulsação */
}

h1 {
    font-size: 4em;
    margin-bottom: 15px;
}

hr {
    background-color: rgb(31, 42, 49);
    border-radius: 5px;
    height: 5px;
    width: 90%;
    margin-bottom: 20px;
}

input {
    height: 100%;
    width: 100%;
    padding: 15px;
    border: none;
    background-color: transparent;
    font-size: 0.9em;
}

input:focus {
    outline: none;
    border-right: 1px solid rgb(31, 42, 49);
    border-bottom: 1px solid rgb(31, 42, 49);
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid rgba(31, 42, 49, 0.26);
    font-size: 1em;
    color: rgb(31, 42, 49);
}

i {
    margin-left: 10px;
}

.btn {
    width: 90%;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    padding: 15px;
    font-size: 1.2em;
    background-color: rgb(31, 42, 49);
    color: rgba(255, 255, 255, 0.945);
    letter-spacing: 0.1em;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-login:hover {
    background-color: rgb(51, 70, 82);
}

.form-login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    padding: 20px;
}

.login-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 15px;
}

p {
    color: rgb(31, 42, 49);
}

.btn-bottom {
    width: 30%;
    font-size: 0.8em;
    padding: 10px;
    margin-top: 0;
    margin-left: 10px;
    border: 1px solid rgba(31, 42, 49, 0.363);
    background-color: transparent;
    color: rgb(31, 42, 49);
}

.btn-bottom:hover {
    background-color: rgb(51, 70, 82);
    color: rgba(255, 255, 255, 0.945);
}




/* ----------------------- ANIMAÇÃO ----------------------- */

@keyframes pulse {
    0%, 100% {
        box-shadow: 0 0 20px rgba(0, 84, 136, 0.822);
    }

    50% {
        box-shadow: none;
    }
}


@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.g {
    position: relative;
    display: inline-block;
    transition: color 0.3s;
}

.g:hover {
    animation: jump 0.5s infinite;
    cursor: pointer;
}



/* ----------------------- RESPONSIVIDADE ----------------------- */

@media (max-width: 600px) {
    body {
        background: rgb(7, 18, 26);
    }

    h1 {
        font-size: 3em;
    }

    .container {
        width: 90%;
        min-height: 60%;
        justify-content: space-around;
    }

    .form-login {
        width: 100%;
        padding: 3px;
        margin-bottom: 0;
    }

    .login-footer {
        flex-direction: column;
        margin-top: 0;
    }

    .btn-footer {
        margin-top: 12px;
        width: 40%;
        font-size: 0.75em;
    }
}

